body {
  background-color: black;
  color: white;
}

a {
  color: #00a4d6;
}

.username {
  text-decoration: none;
}

#post {
  background: black;
  color: #ebebeb;
  width: 95%;
  min-height: 4em;
  display: block;
  margin: 2px auto;
}

#poster {
  border: solid white;
  border-radius: 5px;
  padding: 2px;
  width: 80%;
  margin: 0px auto;
  background: #575757;
  overflow: hidden; /* else #buttons come out of form */
}

#deleteall {
  margin-left: 2%;
  float:left;
}

#buttons {
  float: right;
  margin: 0 5% 0 0;
}

#buttons input {
  padding: 0.5em;
  margin: 0 2px;
  border: solid grey;
  border-radius: 20%;
}