:root {
  --rad: 10px;
}

body {
  background-color: black;
  color: white;
}

a {
  color: #00a4d6;
}

h2 {
  margin: 0;
  display: inline;
}

.username {
  text-decoration: none;
}

.post {
  margin: 10px auto;
  padding: 15px;
  width: 80%;
  border: solid grey;
  border-radius: 10px;
}

#userbox {
  width: 80%;
  border-radius: var(--rad);
  border: solid #545454;
  margin: 10px auto;
}

#userbar {
  background: #707070;
  padding: 10px;
  border-radius: var(--rad) var(--rad) 0px 0px;
}

.bio { /* bio is a flex item */
  width: 50%;
  margin: 1px;
}

.box {
  width: 100%;
  box-sizing: border-box;
  border: dashed darkgray;
  height: 100px;
  background: black;
  color: white;
  resize: none;
}

#savebutton {
  border-radius: 0px 0px var(--rad) var(--rad);
  padding: 2px;
  text-align: right;
  box-sizing:border-box;
  padding-right: 5px;
}

#follow {
  display:inline;
  float:right;
  margin-right: 5px;
}

#following {
  overflow: auto;
  margin: 0px 20px;
  white-space: nowrap;
}

#following div {
  display: inline-block;
  text-align: center;
  margin: 2px;
}

input[type=submit] {
  padding: 5px;
}

.pfp {
  width: 4em;
  height: auto;
}

