<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href= {% block css %}{% endblock %}>
    {% block optionalcss %}{% endblock %}
  </head>
  <body style="margin:0px;">
    <div id="nav">
      <ul id = "leftnav">
        <li><a href="/home"><b>noJSmedia</b> <i>v0</i></a></li>
        <li><a href="/404">404</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <ul id="rightnav">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    <div id="margin">
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>