{% extends "block.html" %}
{% block title %}Home{% endblock %}
{% block css %}/static/main.css{% endblock %}
{% block optionalcss %}<link rel="stylesheet" href="/static/comment.css">{% endblock %}
{% from "macros.html" import comment %}
{% block body %}
    {% for item in data %}
      {{ comment(item, loop.index0) }}
    {% endfor %}
    <br>
    <hr>
    <form method="post" id="poster">
      <label for = "post">Comment:</label><br>
      <textarea name = "content" id = "post" placeholder = "Enter your comment"></textarea>
      <input type = "checkbox" id="deleteall" name="purge"><label for="deleteall">Delete all messages</label>
      <div id="buttons"><input type = "submit" value="Post"><input type = "reset" value="Clear"></div><span style="clear: both;"></span>
    </form>
<br>
<small>Note: Liking doesnt work as it requires JS and this is noJSmedia.. I could have made it work by making CSS request to an API (in form of image url) but... I didn't.  Also making each like button a form isn't great idea since after every like, the page has to be reloaded </small>
{% endblock %}