{% extends "block.html" %}
{% block title %}Home{% endblock %}
{% block css %}/static/main.css{% endblock %}

{% block body %}
    {% set classlist = ["primary", "secondary"] %}
    {% for item in data %}
      {% set index = loop.index0 % 2 %}
      <div class="post {{ classlist[index] }}">
        <b><a href={{"/users/"+item.username}} class ="username">@{{item["username"]}}</a></b>
        <hr size = 1>
        {% for line in item["content"].split("\n") %}
          {{line}}<br>

        {% endfor %}
        <br>
        <input class="love" id="{{loop.index0}}" type="checkbox" style="display:none;">
        <label for="{{loop.index0}}"><img src="https://img.icons8.com/sf-black-filled/25/like.png" class="like"></label>
       </div>
    {% endfor %}
    <br>
    <hr>
    <form method="post" id="poster">
      <label for = "post">Comment:</label><br>
      <textarea name = "content" id = "post" placeholder = "Enter your comment"></textarea>
      <input type = "checkbox" id="deleteall" name="purge"><label for="deleteall">Delete all messages</label>
      <div id="buttons"><input type = "submit"><input type = "reset"></div><span style="clear: both;"></span>
    </form>
{% endblock %}