{% extends "block.html" %}
{% block title %}Login{% endblock %}
{% block css %}/static/login.css{% endblock %}

{% block body %}
   <form method="post">
      <div id = "loginbox">
        <h2>Login</h2>
        <hr>
        <label for="user">Username:</label><input type="text" name="user" id="user" placeholder="Username"><br>
        <label for="pass">Password:</label><input type="password" name="pass" id="pass" placeholder="Password"><br>
        <input type="submit"><input type="reset" value="clear">
        <hr>
        <div style="text-align:center;">Don't have an account? <a href="/signup">SignUp</a></div>
      </div>
    </form>
    {% if msg %}
      <div id="errorbox">{{"<b>ⓘ</b> "|safe + msg}}</div>
    {% endif %}
{% endblock %}