{% extends "block.html" %}
{% block title %}{{user.name}} on here{% endblock %}
{% block css %}/static/users.css{% endblock %}
{% block optionalcss %}<link rel="stylesheet" href="/static/comment.css">{% endblock %}
{% from "macros.html" import comment %}

{% block body %}
   <div id="userbox">
      <div id="userbar">
        <h2>{{user.name}}</h2><form action="/follow" method="get" id="follow"><input name="follow" type="hidden" value={{user.name.lower()}}><input type="submit" value={{follow}}></form><br>
        joined: {{user.joined}} ago I think
      </div>
      <form id="biobox" method= "post">
      <div style="display: flex;">
        <div class="bio">Bio:<br><textarea name="bio" class="box" {% if not self %}readOnly{% endif %}>{{user.bio}}</textarea></div>
        <div class="bio">Status:<textarea name="status" class="box" {% if not self %}readOnly{% endif %}>{{user.status}}</textarea></div>
      </div>
        {% if self %}
        <div id ="savebutton"><input type="submit" form="biobox" value="Save"></div>
        {% endif %}
      </form>
    </div>

    <h2>Following:</h2><br><br>
    <div id="following">
      {% for item in following %}
      <div>
        <a href={{"/users/"+item}} class ="username">
        <img class="pfp" src="https://craftypixels.com/placeholder-image/300"><br>
        <div>@{{item}}</div></a>
      </div>
      {% endfor %}
    </div><br>
    <h2>Posts:</h2><br>
    <div>
      {% for item in posts %}
        {{ comment(item, loop.index0) }}
      {% endfor %}
    </div>
 
{% endblock %}